@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Playfair:ital,opsz,wght@0,5..1200,300..900;1,5..1200,300..900&display=swap');

@import "tailwindcss";

@theme {
  --color-primary: #5f6FFF;
  --grid-cols-auto: repeat(auto-fill, minmax(200px, 1fr));
  /* --grid-cols-doctors: repeat(auto-fill, minmax(250px, 1fr)); */
}

*{
  font-family: Outfit;
}
.active hr{
    @apply block
}

::-webkit-scrollbar{
  @apply hidden
}